import dependencies

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

load dropout labels

In [3]:
student_dropout = pd.read_csv("../datasets/DropoutTrainLabels.csv")

load student progress data by year
for  both spring and fall

In [4]:
student_progress_11_12_fall = pd.read_csv("../datasets/Student Progress Data/Fall 2011_SP.csv")
student_progress_12_13_fall = pd.read_csv("../datasets/Student Progress Data/Fall 2012_SP.csv")
student_progress_13_14_fall = pd.read_csv("../datasets/Student Progress Data/Fall 2013_SP.csv")
student_progress_14_15_fall = pd.read_csv("../datasets/Student Progress Data/Fall 2014_SP.csv")
student_progress_15_16_fall = pd.read_csv("../datasets/Student Progress Data/Fall 2015_SP.csv")
student_progress_16_17_fall = pd.read_csv("../datasets/Student Progress Data/Fall 2016_SP.csv")

student_progress_11_12_spring  = pd.read_csv("../datasets/Student Progress Data/Spring 2012_SP.csv")
student_progress_12_13_spring  = pd.read_csv("../datasets/Student Progress Data/Spring 2013_SP.csv")
student_progress_13_14_spring  = pd.read_csv("../datasets/Student Progress Data/Spring 2014_SP.csv")
student_progress_14_15_spring  = pd.read_csv("../datasets/Student Progress Data/Spring 2015_SP.csv")
student_progress_15_16_spring  = pd.read_csv("../datasets/Student Progress Data/Spring 2016_SP.csv")
student_progress_16_17_spring  = pd.read_csv("../datasets/Student Progress Data/Spring 2017_SP.csv")

In [5]:
student_progress_11_12_fall

,StudentID,Cohort,CohortTerm,Term,AcademicYear,CompleteDevMath,CompleteDevEnglish,Major1,Major2,Complete1,Complete2,CompleteCIP1,CompleteCIP2,TransferIntent,DegreeTypeSought,TermGPA,CumGPA
0,285848,2011-12,1,1,2011-12,-2,-2,51.3899,-1.0,0,0,-2,-2,-1,6,3.25,3.25
1,302176,2011-12,1,1,2011-12,-2,-2,51.3801,-1.0,0,0,-2,-2,-1,6,3.00,3.00
2,301803,2011-12,1,1,2011-12,-2,-2,51.3899,-1.0,0,0,-2,-2,-1,6,3.91,3.91
3,302756,2011-12,1,1,2011-12,-2,-2,45.0601,-1.0,0,0,-2,-2,-1,6,3.78,3.78
4,300304,2011-12,1,1,2011-12,0,-2,9.0101,-1.0,0,0,-2,-2,-1,6,1.57,1.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1754,304148,2011-12,1,1,2011-12,-2,-2,43.0199,-1.0,0,0,-2,-2,-1,6,4.00,4.00
1755,304837,2011-12,1,1,2011-12,-2,-2,52.0201,-1.0,0,0,-2,-2,-1,6,4.00,4.00
1756,305133,2011-12,1,1,2011-12,-2,-2,52.0201,-1.0,0,0,-2,-2,-1,6,4.00,4.00
1757,305147,2011-12,1,1,2011-12,-2,-2,52.0201,-1.0,0,0,-2,-2,-1,6,3.94,3.94
1758,305164,2011-12,1,1,2011-12,-2,-2,43.0199,-1.0,0,0,-2,-2,-1,6,3.60,3.60

In [6]:
student_progress_11_12_conflict = student_progress_11_12_fall[student_progress_11_12_fall["StudentID"].isin(student_progress_11_12_spring["StudentID"]) == False]
student_progress_11_12_conflict

,StudentID,Cohort,CohortTerm,Term,AcademicYear,CompleteDevMath,CompleteDevEnglish,Major1,Major2,Complete1,Complete2,CompleteCIP1,CompleteCIP2,TransferIntent,DegreeTypeSought,TermGPA,CumGPA
10,300412,2011-12,1,1,2011-12,0,-2,0.0000,-1.0,0,0,-2,-2,-1,6,2.56,2.56
12,303260,2011-12,1,1,2011-12,-2,-2,13.1001,-1.0,0,0,-2,-2,-1,6,0.00,0.00
20,283028,2011-12,1,1,2011-12,-2,-2,11.0101,-1.0,0,0,-2,-2,-1,6,2.65,2.65
25,304587,2011-12,1,1,2011-12,-2,-2,51.3801,-1.0,0,0,-2,-2,-1,6,3.15,3.15
27,305459,2011-12,1,1,2011-12,-1,-1,0.0000,-1.0,0,0,-2,-2,-1,6,1.65,1.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746,301652,2011-12,1,1,2011-12,-1,-1,0.0000,-1.0,0,0,-2,-2,-1,6,3.74,3.74
1747,301648,2011-12,1,1,2011-12,-1,-1,0.0000,-1.0,0,0,-2,-2,-1,6,3.82,3.82
1748,302010,2011-12,1,1,2011-12,-1,-1,0.0000,-1.0,0,0,-2,-2,-1,6,1.07,1.07
1751,303259,2011-12,1,1,2011-12,-1,-1,0.0000,-1.0,0,0,-2,-2,-1,6,2.40,2.40
1752,303288,2011-12,1,1,2011-12,-2,-2,0.0000,-1.0,0,0,-2,-2,-1,6,2.92,2.92

set progress data to value for spring since it contains most recent information

In [7]:
student_progress_11_12 =student_progress_11_12_spring
student_progress_12_13 =student_progress_12_13_spring
student_progress_13_14 =student_progress_13_14_spring
student_progress_14_15 =student_progress_14_15_spring
student_progress_15_16 =student_progress_15_16_spring
student_progress_16_17 =student_progress_16_17_spring

get student data that have id labels

In [10]:
student_progress_11_12_id = student_progress_11_12[student_progress_11_12["StudentID"].isin(student_dropout["StudentID"])]
student_progress_12_13_id = student_progress_12_13[student_progress_12_13["StudentID"].isin(student_dropout["StudentID"])]
student_progress_13_14_id = student_progress_13_14[student_progress_13_14["StudentID"].isin(student_dropout["StudentID"])]
student_progress_14_15_id = student_progress_14_15[student_progress_14_15["StudentID"].isin(student_dropout["StudentID"])]
student_progress_15_16_id = student_progress_15_16[student_progress_15_16["StudentID"].isin(student_dropout["StudentID"])]
student_progress_16_17_id = student_progress_16_17[student_progress_16_17["StudentID"].isin(student_dropout["StudentID"])]

,StudentID,Cohort,CohortTerm,Term,AcademicYear,CompleteDevMath,CompleteDevEnglish,Major1,Major2,Complete1,Complete2,CompleteCIP1,CompleteCIP2,TransferIntent,DegreeTypeSought,TermGPA,CumGPA
0,285848,2011-12,1,3,2011-12,-2,-2,51.1699,-1.0,0,0,-2.0,-2,-1,6,3.80,3.54
1,302176,2011-12,1,3,2011-12,-2,-2,51.3801,-1.0,0,0,-2.0,-2,-1,6,4.00,3.50
2,301803,2011-12,1,3,2011-12,-2,-2,51.1699,-1.0,0,0,-2.0,-2,-1,6,4.00,3.95
3,302756,2011-12,1,3,2011-12,-2,-2,45.0601,-1.0,0,0,-2.0,-2,-1,6,3.78,3.78
4,300304,2011-12,1,3,2011-12,0,-2,9.0101,-1.0,0,0,-2.0,-2,-1,6,2.00,1.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2072,309943,2011-12,3,3,2011-12,-2,-2,52.0201,-1.0,0,0,-2.0,-2,-1,6,2.10,2.10
2073,309983,2011-12,3,3,2011-12,-2,-2,13.1209,-1.0,0,0,-2.0,-2,-1,6,2.85,2.85
2074,310039,2011-12,3,3,2011-12,-2,-2,45.1001,-1.0,0,0,-2.0,-2,-1,6,3.08,3.07
2075,310068,2011-12,3,3,2011-12,-1,-1,0.0000,-1.0,0,0,-2.0,-2,-1,6,4.00,4.00
2076,310186,2011-12,3,3,2011-12,-2,-2,13.1001,-1.0,0,0,-2.0,-2,-1,6,3.68,3.67