In [20]:
%run "./financial_data.ipynb"
%run "./progress_data.ipynb"
%run "./static_data.ipynb"

dropout_data = pd.read_csv("../datasets/DropoutTrainLabels.csv")
from functools import reduce

C:\Users\JOHNSO~1\AppData\Local\Temp/ipykernel_11884/3354816204.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student_financial_data_11_12_id["StudentID"] = student_financial_data_11_12_id["ID with leading"]
C:\Users\JOHNSO~1\AppData\Local\Temp/ipykernel_11884/3354816204.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student_financial_data_12_13_id["StudentID"] = student_financial_data_12_13_id["ID with leading"]
C:\Users\JOHNSO~1\AppData\Local\Temp/ipykernel_11884/3354816204.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student_financial_data_13_14_id["StudentID"] = student_financial_data_13_14_id["ID with leading"]
C:\Users\JOHNSO~1\AppData\Local\Temp/ipykernel_11884/3354816204.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student_financial_data_14_15_id["StudentID"] = student_financial_data_14_15_id["ID with leading"]
C:\Users\JOHNSO~1\AppData\Local\Temp/ipykernel_11884/3354816204.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student_financial_data_15_16_id["StudentID"] = student_financial_data_15_16_id["ID with leading"]
C:\Users\JOHNSO~1\AppData\Local\Temp/ipykernel_11884/3354816204.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student_financial_data_16_17_id["StudentID"] = student_financial_data_16_17_id["ID with leading"]

In [21]:

def join_data (static_data, progress_data, financial_data) : 
    static_id = static_data["StudentID"]
    progress_id = static_data["StudentID"]
    financial_id = financial_data["StudentID"]
    dropout_id = dropout_data["StudentID"]
    year_id = reduce(np.intersect1d, (static_id, progress_id, financial_id, dropout_id))
    static_data_final = static_data[static_data["StudentID"].isin(year_id)]
    static_progress_final = progress_data[progress_data["StudentID"].isin(year_id)]
    static_financial_final = financial_data[financial_data["StudentID"].isin(year_id)]
    dropout_to_add = dropout_data[dropout_data["StudentID"].isin(year_id)]
    data_frames = [static_data_final, static_progress_final, static_financial_final, dropout_to_add]
    #return pd.merge(static_data_final, static_progress_final , on = "StudentID")
    return reduce(lambda  left,right: pd.merge(left,right,on=['StudentID']), data_frames)

student_data_11_12 = join_data(student_static_11_12_id, student_progress_11_12_id, student_financial_data_11_12_id)
student_data_12_13 = join_data(student_static_12_13_id, student_progress_12_13_id, student_financial_data_12_13_id)
student_data_13_14 = join_data(student_static_13_14_id, student_progress_13_14_id, student_financial_data_13_14_id)
student_data_14_15 = join_data(student_static_14_15_id, student_progress_14_15_id, student_financial_data_14_15_id)
student_data_15_16 = join_data(student_static_15_16_id, student_progress_15_16_id, student_financial_data_15_16_id)
student_data_16_17 = join_data(student_static_16_17_id, student_progress_16_17_id, student_financial_data_16_17_id)

In [22]:
student_data_11_12

,StudentID,Cohort_x,CohortTerm_x,Campus,Address1,Address2,City,State,Zip,RegistrationDate,...,2015 Grant,2016 Loan,2016 Scholarship,2016 Work/Study,2016 Grant,2017 Loan,2017 Scholarship,2017 Work/Study,2017 Grant,Dropout
0,285848,2011-12,1,NaN,328 Adams St Apt 1,NaN,Hoboken,NJ,7030.0,20110808,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,302176,2011-12,1,NaN,142 Cherry St,NaN,Jersey City,NJ,7305.0,20110804,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,301803,2011-12,1,NaN,12 Rainbow Street,NaN,Presque Isle,ME,4769.0,20110809,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,302756,2011-12,1,NaN,345 4th St Apt 2,NaN,Jersey City,NJ,7302.0,20110823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,301067,2011-12,1,NaN,240 3rd St,NaN,Jersey City,NJ,7302.0,20110420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1918,309929,2011-12,3,NaN,169 W 17th St Apt 2,NaN,Bayonne,NJ,7002.0,20120118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1919,309943,2011-12,3,NaN,119 Clerk St,NaN,Jersey City,NJ,7305.0,20120113,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1920,309983,2011-12,3,NaN,1004 Avenue C,NaN,Bayonne,NJ,7002.0,20120117,...,1433.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1921,310039,2011-12,3,NaN,180 Weigands Ln,NaN,Secaucus,NJ,7094.0,20120117,...,NaN,10500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1922,310186,2011-12,3,NaN,469 Oak St,NaN,Ridgefield,NJ,7657.0,20120123,...,2149.0,5500.0,NaN,NaN,2166.0,2750.0,NaN,NaN,2181.0,0

In [31]:
def add_dataframes (df1, df2, df3, df4, df5, df6) :
    df_array = [df1, df2, df3, df4, df5, df6 ]
    total_data = pd.DataFrame()
    for df in df_array:
        total_data = total_data.append(df, ignore_index=True)      
        print(1)  
    return total_data
total_data =  add_dataframes(student_data_11_12, student_data_12_13, student_data_13_14, student_data_14_15, student_data_15_16, student_data_16_17)

1
1
1
1
1
1

In [32]:
total_data

,StudentID,Cohort_x,CohortTerm_x,Campus,Address1,Address2,City,State,Zip,RegistrationDate,...,2015 Grant,2016 Loan,2016 Scholarship,2016 Work/Study,2016 Grant,2017 Loan,2017 Scholarship,2017 Work/Study,2017 Grant,Dropout
0,285848,2011-12,1,NaN,328 Adams St Apt 1,NaN,Hoboken,NJ,7030.0,20110808,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,302176,2011-12,1,NaN,142 Cherry St,NaN,Jersey City,NJ,7305.0,20110804,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,301803,2011-12,1,NaN,12 Rainbow Street,NaN,Presque Isle,ME,4769.0,20110809,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,302756,2011-12,1,NaN,345 4th St Apt 2,NaN,Jersey City,NJ,7302.0,20110823,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,301067,2011-12,1,NaN,240 3rd St,NaN,Jersey City,NJ,7302.0,20110420,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10883,358695,2016-17,1,NaN,13 Agate Pl,NaN,Newark,NJ,7104.0,20160830,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10884,358762,2016-17,1,NaN,1121 67th St,NaN,North Bergen,NJ,7047.0,20160912,...,NaN,NaN,NaN,NaN,NaN,NaN,431.0,NaN,NaN,0
10885,358753,2016-17,1,NaN,413 Beachview Ave,NaN,Union Beach,NJ,7735.0,20160822,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10886,359285,2016-17,1,NaN,120 Central Ave,NaN,Garden City Park,NY,11040.0,20160906,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
10887,325536,2016-17,1,NaN,8311 2nd Ave,NaN,North Bergen,NJ,7047.0,20160427,...,NaN,NaN,NaN,NaN,NaN,NaN,11480.1,NaN,2500.0,0

In [33]:
total_data.to_csv("total_data.csv")